.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .movie-item {
    width: 200px;
    text-align: center;
  }
  
  .movie-item img {
    width: 100%;
    height: auto;
  }

  .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 10px;  /* Reduce padding for smaller screens */
      max-width: 100%;  /* Allow container to take up full width on mobile */
    }
  }