<!-- homepage.component.html -->
<div class="homepage">
    <h1 class="welcome-title">Welcome to Movie World</h1>
    <p class="subheading">Discover and get recommendations for movies you'll love!</p>
    
    <div class="menu-container">
            <app-navigation-menu></app-navigation-menu>
    </div>

    <div class="featured-section">
        <div class="featured-movie">
            <img src="https://t4.ftcdn.net/jpg/07/13/56/89/360_F_713568936_Rq6qKcY12lJnZziXbQb7ST76veTykAQI.jpg" alt="." class="featured-image">
            <p class="featured-title">Featured Movie: The Epic Adventure</p>
            <p class="featured-description">A thrilling journey across galaxies. Watch now!</p>
        </div>
    </div>
</div>
