<h1>Movie Recommendation System</h1>
<div>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home">Homepage</button>
      <button mat-menu-item routerLink="/student-form">Movie Database</button>
      <button mat-menu-item routerLink="/recommendation">Recommendation Engine</button>
      <button mat-menu-item routerLink="/reviews">Reviews</button>
      <button mat-menu-item routerLink="/trailer">Trailer</button>
      <button mat-menu-item routerLink="editStudent/:_id">Edit Movies</button>
    </mat-menu>
  </div>
  
  <div class="container">
    <div>
      <h4>{{ mode }} Movie DB Form</h4>
    </div>
    <form (ngSubmit)="onSubmit($event)" [formGroup]="studentForm">
      <div class="form-row">
        <mat-form-field class="form-field">
          <input matInput placeholder="Movie Name" id="movie_name" formControlName="movie_Name" name="movie_name">
        </mat-form-field> <br>
  
        <mat-form-field>
          <input matInput placeholder="Genre" id="genre" formControlName="genres" name="genre">
        </mat-form-field>
      </div>
  
      <mat-form-field class="form-field full-width">
        <input matInput placeholder="Release Year" id="year" formControlName="Year" name="year">
      </mat-form-field>
  
      <mat-form-field class="form-field full-width">
        <input matInput placeholder="Director" id="director" formControlName="author" name="director">
      </mat-form-field>
  
      <mat-form-field class="form-field full-width">
        <input matInput placeholder="Ratings & Review" id="rating_review" formControlName="Ratings" name="rating_review">
      </mat-form-field>
  
      <div>
        <button type="submit" mat-raised-button color="primary">Submit</button>
      </div>
    </form>
  </div>
  